.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 20px;
}

.imageContainer {
  margin-bottom: 20px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #333;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
}
